body {
    background-color:black;
    color:lightblue;
    min-height: 100vh;
    display:grid;
    grid-template-rows: auto 240px;
    font-family: "Stick No Bills";
    font-size:22px;
}
h1 {
    font-size:35px;
}
p {
    margin-top: 2em;
}
.title {
    font-size:50px;
}
.paragraph {
    margin-top:1em;
}
.container {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}
.mainpage {
    text-align: center;
    background-color: black;
    color: lightblue;
}
.maintitle {
    font-size: 60px;
}
h2 {
    margin-top: 2em;
}
.outlook {
    list-style: none;
}
.markdown > p > img {
    margin-top: 1em;
    margin-bottom: 3em;
    width: 60%;
    max-width: 800px;
}
.mainpicture {
    filter: grayscale(100%);
    margin-top: 1em;
    margin-bottom: 3em;
    width: 50%;
    max-width: 800px;

}
.menu {
    text-align:left;
    background-color: lightblue;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 290px;
    height: 250px;
}
.list {
    color: black;
    list-style: none;
    
}
.list a {
    color: black; 
    text-decoration: none;
}

.sublist {
    list-style: none;
}
a:hover {
    color:grey;
}


@media (min-width: 800px){
    .sublist {
        display: none;
        color: black;
        background-color: lightblue;
        position: absolute;
        list-style: none;
        text-decoration: none;
    }
    .dropdown:hover > .sublist {
        display: block;
        
    }
    
}
@media (min-width: 1400px){
    .menu {
        position: sticky;
        bottom: 0;
    }
}